name: Build & Sign FDroid APK on Release

on:
  release:
    types: [published]

jobs:
  build-fdroid:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup FVM
        uses: kuhnroyal/flutter-fvm-config-action/config@v3
        id: fvm-config-action

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ steps.fvm-config-action.outputs.FLUTTER_VERSION }}
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Decode keystore
        run: |
          echo "$ANDROID_KEYSTORE_BASE64" | base64 --decode > android/keystore.jks

      - name: Create key.properties
        run: |
          cat <<EOF > android/key.properties
          storeFile=keystore.jks
          storePassword=$ANDROID_KEYSTORE_PASSWORD
          keyAlias=$ANDROID_KEY_ALIAS
          keyPassword=$ANDROID_KEY_PASSWORD
          EOF

      - name: Build FDroid APK (arm64)
        run: |
          flutter build apk --release --flavor fdroid --split-per-abi \
            --target-platform android-arm64
          cp build/app/outputs/flutter-apk/app-arm64-v8a-fdroid-release.apk app-release-unsigned.apk

      # You must add your keystore, alias and passwords as GitHub Secrets.
      # F-Droid WILL NOT use the signed version. This is only for GitHub releases.
      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: .
          signingKeyBase64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          alias: ${{ secrets.ANDROID_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}

      - name: Rename signed APK
        run: mv app-release.apk sossoldi-fdroid-${{ github.event.release.tag_name }}-arm64.apk

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: sossoldi-fdroid-${{ github.event.release.tag_name }}-arm64.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
